<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="asset/css/font-awesome.min.css" />
    <link rel="stylesheet" href="asset/css/ihm.css" />
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>